---
title: "Web Developer"
---

<div class="introduction">
	<p>
		Full-stack web developer <span class="my-location"><span class="fa fa-location-arrow"></span> London, UK</span>
	</p>
	<div class="keywords">
		<ul>
			<li>HTML</li>
			<li>JavaScript</li>
			<li>NodeJS</li>
			<li>CSS</li>
			<li>PHP</li>
			<li>Swift</li>
		</ul>
	</div>
</div>

<div class="blurb">
	<div class="blurb-copy">
		<p>
			I am a freelance developer, experienced in building quality web applications.
			<br/>
			Available now - <a href="mailto:{{site.data.personal.email}}">email me</a>.
		</p>
	</div>
</div>

<div class="important-links">
	<div class="link">
		<a href="./cv.html">
			<span class="fa fa-file-text-o"></span>
			C.V.
		</a>
	</div>
	<div class="link">
		<a href="{{site.data.personal.github}}">
			<span class="fa fa-github"></span>
			Github
		</a>
	</div>
	<div class="link">
		<a href="{{site.data.personal.linkedin}}">
			<span class="fa fa-linkedin"></span>
			Linkedin
		</a>
	</div>
	<div class="link">
		<a href="{{site.data.personal.twitter}}">
			<span class="fa fa-twitter"></span>
			Twitter
		</a>
	</div>
</div>

<h2>My Work</h2>
<div class="portfolio-links">
	{% for work in site.data.portfolio %}
		<div class="work">
			<a target="_blank" href="{{work.link.href}}">
				<h3>{{work.title}}</h3>
				<h4>{{work.subtitle}}</h4>
			{% if work.main_image %}
			<img src="/images/{{work.main_image}}"/>
			{% endif %}
			</a>

			<ul class="keywords">
				{% for keyword in work.keywords %}
					<li>{{keyword}}</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>
