header{
	.email-link{
		span.fa{
			@extend .emphasis-weak;
		}
	}

	.title{
		display:inline-block; //this div is for a webkit bug fix
	}

	h1{
		margin:0px;
	}

	img.headshot{
		max-width:100px;
		width:33%;
		margin:1em auto;
	}

	@include susy-media(large){
		img.headshot{
			margin-right:1em;
		}
		h1{
			display:inline-block;
		}
		.email-link{
			margin:1em auto;
			float:right;
		}
	}

	@include susy-media(small){
		text-align:center;

		.email-link span.fa{
			display:none;
		}
	}

}
