$susy: (
	debug: (
		//image: show,
	),
	columns : 12,
	math: fluid,
);

@import "susy/susy";

$theme-color-strong: #C34B4B;
$theme-color-weak: #888888;

html{
	font-family:arial, sans-serif;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
}

h1,h2{
	font-size:2em;
	font-family:Georgia, serif;
	font-style:italic;
	@include susy-media(small){
		text-align:center;
	}
}

a{
	text-decoration:none;
	color:$theme-color-strong;
	cursor:pointer;
	&.normal{
		color:black;
	}
	&:hover{
		text-decoration:underline;
		color:$theme-color-strong;
	}
}

main, header{
	max-width:960px;
	margin:auto;
}

ul{
	list-style-type:none;
	padding:0px;
}

table{
	border-collapse: separate;
	border-spacing: 0.3rem;
}

strong, .emphasis-strong{
	font-weight:bold;
	font-size:100%;
}

.emphasis-weak{
	font-weight:normal;
	color:$theme-color-weak;
	font-size:90%;
}

.emphasis-very-weak{
	font-weight:lighter;
	color:$theme-color-weak;
	font-size:80%;
}
