$susy: (
	debug: (
		//image: show,
	),
	columns : 12,
	math: fluid,
);

@import "susy/susy";

$theme-color-strong: #C34B4B;
$theme-color-weak: #888888;

$susy-media: (
	small: 0px 550px,
	large: 551px,
);

html{
	font-family:arial, sans-serif;
}

h1,h2,h3,h4,h5{
	font-weight:normal;
}

h1,h2{
	font-size:2em;
	font-family:Georgia, serif;
	font-style:italic;
	@include susy-media(small){
		text-align:center;
	}
}

a{
	text-decoration:none;
	color:$theme-color-strong;
	cursor:pointer;
	&.normal{
		color:black;
	}
	&:hover{
		text-decoration:underline;
		color:$theme-color-strong;
	}
}

main, header{
	max-width:960px;
	margin:auto;
}

ul{
	list-style-type:none;
	padding:0px;
}

table{
	border-collapse: separate;
	border-spacing: 0.3rem;
}

strong, .emphasis-strong{
	font-weight:bold;
	font-size:100%;
}

hr{
	height:1px;
	background-color: $theme-color-strong;
	border:none;
}

blockquote{
	padding-left:1rem;
	margin-left:1rem;
	border-left: 3px solid $theme-color-strong;

	cite:before{
		content: " - ";
	}
}


.emphasis-weak{
	font-weight:normal;
	color:$theme-color-weak;
	font-size:90%;
}

.emphasis-very-weak{
	font-weight:lighter;
	color:$theme-color-weak;
	font-size:80%;
}

%slash-delimited-list{
	li{
		display:inline-block;
		&:after{
			content:" / ";
			@extend .emphasis-weak
		}
		&:last-child:after{
			content:"";
		}
	}
}

%small-media-margin{
	@include susy-media(0px 960px){
		margin-left:0.5rem;
		margin-right:0.5rem;
	}
}

