body.cv{
	@extend %small-media-margin;

	span.updated, span.printme, span.pdf{
		@extend .emphasis-weak;
	}

	h3{
		text-decoration: underline;
	}

	h5{
		padding:0px;
		margin:0px;
		margin-top:0.5em;
		font-size:100%;
	}

	table tr td:first-child{
		padding-right:2em;
		color:$theme-color-weak;
	}

	ul{
		padding-left:2em;
		list-style-type:disc;
	}

	@include susy-media(print){
		img{
			display:none;
		}

		span.printlink a[href]:after{
			content: " (" attr(href) ") ";
			color: $theme-color-weak;
		}

		.noprint{
			display: none;
		}
	}

}
