body.cv{
	@extend %small-media-margin;

	span.updated{
		@extend .emphasis-weak;
	}

	h5{
		padding:0px;
		margin:0px;
		margin-top:0.5em;
		font-size:100%;
	}

	table tr td:first-child{
		padding-right:2em;
		color:$theme-color-weak;
	}

	ul{
		padding-left:2em;
		list-style-type:disc;
	}

	@include susy-media(print){
		img{
			display:none;
		}
	}

}
