$cv-color-strong: #C34B4B;
$cv-color-medium: #555555;
$cv-color-subtle: #888888;

body.cv{
	@extend %small-media-margin;

	span.updated{
		@extend .emphasis-weak;
	}

	strong{
		color:$cv-color-strong;
	}

	h2{
		text-decoration: underline;
	}

	h3{
		color:$cv-color-strong;
		padding:0px;
	}

	h5{
		padding:0px;
		margin:0px;
		margin-top:0.5em;
		color:$cv-color-medium;
		font-size:100%;
	}

	table tr td:first-child{
		padding-right:2em;
		color:$cv-color-medium;
	}

	ul{
		padding-left:2em;
		list-style-type:disc;
	}

	@include susy-media(print){
		img{
			display:none;
		}
	}

}
