div.introduction{
	margin-top:2em;
	text-align:center;
	p{
		font-size:140%;
		margin-bottom:0px;

		span.my-location{
			@extend .emphasis-weak;
			display:inline-block;
		}
		span.fa{
			margin-left:1em;
		}
	}

	div.keywords ul{
		@extend %slash-delimited-list;
	}
}

div.blurb{
	font-size:120%;
	margin-bottom:4rem;
	margin-top:2rem;

	@include container;

	div.blurb-copy{
		text-align:center;
		@include susy-media(small){
			@include span(12);
		}
	}
}

div.important-links{
	margin-bottom:4rem;
	@include container;

	div.link{
		@include gallery(3);
		@include susy-media(small){
			@include gallery(6);
		}
		text-align:center;
		margin-bottom:1rem;

		span.fa{
			font-size:500%;
			width:100%;
			margin-bottom:1rem;
		}

	}
}

div.portfolio-links{
	div.work{
		@include susy-media(small){
			margin-bottom:4rem;
		}
		@include susy-media(large){
			@include gallery(4);
		}
	}
	h3{
		margin-bottom:0px;
	}
	h4{
		margin-top:0px;
		@extend .emphasis-weak;
	}
	h3, h4, p, ul.keywords, hr{
		@extend %small-media-margin;
	}
	img{
		width:100%;
	}
}
